.container {
  width: 50vw;
  margin: 0 auto;
}

.audio-player div.vueAudioBetter {
  .operate span {
    color: $black !important;
  }
  .slider {
    .process {
      background-color: $black;
    }
    .block {
      border: 1px solid $black;
    }
  }
  padding: 0 15px;
  margin: 0;
  box-shadow: none;
  border-radius: 0;
  background-image: none;
  background-color: white;
}