body {
    margin: 0;
    padding: 0;
    font-family: 'Courier New', monospace;
    font-size: 20px;
    color: $black;
    background-color: $yellow;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Headline One', sans serif;
}

h2 {
    font-size: 60px;
    color: $blue;
}

p {
    line-height: 1.5;
    margin: 20px 0;

    &:first-child {
        margin-top: 0;
    }
}

a,
a:visited {
    text-decoration: none;
    font-weight: bold;

    color: $black;
}

a:hover,
a:active {
    text-decoration: underline;
}

em {
    font-family: 'Headline One';
    font-style: normal;
}
